@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;500&display=swap');
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
}

/*to remove white bleed on right of page when page hits 55em tablet mode*/
body,html {
    overflow-x: hidden;
    margin: 0;
}

/* Contact page *FIX: only in tablet mode the background leaves a tiny margin*/
.contact {
    width: 100%;
    position: absolute;
    top: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*use the paper image in Overlay or Soft Light mode ontop of a dark grey background*/
    background-image: url(images/Kyle_Paper_Dark.avif);
    background-color: #666;
    background-blend-mode: soft-light;
    background-repeat: repeat;
    /*z-index is like layers in photoshop. The lower the number the lower down the layer is.
    setting 2 is lower than the navbar drop down menu of 99. Good, no overlaping elements.*/
    z-index: 2;
    padding: 7rem 8%;
}

.contact .content {
    max-width: 50em;
    text-align: center;
}

.contact .content h2 {
    font-size: 2.2em;
    font-weight: 500;
    color: #fff;
    margin-bottom: 30px;
}

.contact .content p {
    font-weight: 400;
    color: #fff;
    text-align: left;
    /* spacing between paragraphs */
    margin-bottom: 30px; 
    /* letter-spacing: 1px; */
}

/* the container for the contact form */
.container {
    width: 100%;
    max-width: 50em;
    /*min-width: 25em;*/
    /*padding: 0 3%;*/
    margin: 0;
    height: 500px;
    z-index: 5;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.icon {
    color: #fff;
    transition: color 0.2s;
    font-size: 25px;
    text-decoration: none;
}

.iconbox {
    margin: 0.5rem 0 0.5rem 0.5rem;
}

.icon:hover {
    color: rgba(0, 0, 0, 0.4);
}

.container .contactInfo .box .icon {
    min-width: 60px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

/*
.container .contactInfo img {
    width: 7em;
    margin-left: 5rem;
    margin-top: 0;
}
*/

.container .contactInfo {
    background-image: url(images/jj-logo.avif);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    height: 95%;
    width: 95%;
    /*
    aspect-ratio: 1/1;
    object-fit: contain;
    object-position: center;
    padding: 0;
    */
}

.contactForm {
    position: relative;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox p{
    color: #fff;
}

.contactForm .inputBox .tos{
    color: #4837ff;
}

/*TOS*/
.mainTOS{
    background-image: url(images/Kyle_Paper_Dark.avif);
    background-color: #666;
    background-blend-mode: soft-light;
    background-repeat: repeat;
    min-height: 100vh;
}

.mainTOS .containerTOS{
    /* min-width: 400px; */
    /*
    max-width: 50%;
    min-width: 0%;
    */
    /*
    aspect-ratio: 1/1;
    */
    max-width: 80em;
    margin: 0 auto;
    padding: 2rem 3%;
}

.mainTOS .containerTOS h1{
    color: #fff;
    font-size: 1rem;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.mainTOS .containerTOS h2{
    color: #fff;
    font-size: 1rem;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.mainTOS .containerTOS h3{
    color: #fff;
    font-size: 1rem;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.mainTOS .containerTOS h4{
    color: #fff;
    font-size: 1rem;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.mainTOS .containerTOS h5{
    color: #fff;
    font-size: 1rem;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

/*vertical spacing between list items (the bullet points*/
.mainTOS .containerTOS li{
    margin: 10px 0;
}

.mainTOS .containerTOS .tos-section1{
    font-weight: 400;
    color: #fff;
    text-align: left;
    /* spacing between paragraphs */
    margin-bottom: 30px; 
    /* letter-spacing: 1px; */
    margin-left: 30px;
}
.mainTOS .containerTOS .tos-section2{
    font-weight: 400;
    color: #fff;
    text-align: left;
    /* spacing between paragraphs */
    margin-bottom: 30px; 
    /* letter-spacing: 1px; */
    margin-left: 30px;
}
.mainTOS .containerTOS .tos-section3{
    font-weight: 400;
    color: #fff;
    text-align: left;
    /* spacing between paragraphs */
    margin-bottom: 30px; 
    /* letter-spacing: 1px; */
    margin-left: 30px;
}

.mainTOS .containerTOS .tos-section4{
    font-weight: 400;
    color: #fff;
    text-align: left;
    /* spacing between paragraphs */
    margin-bottom: 30px; 
    /* letter-spacing: 1px; */
    margin-left: 30px;
}

.mainTOS .containerTOS .tos-section5{
    font-weight: 400;
    color: #fff;
    text-align: left;
    /* spacing between paragraphs */
    margin-bottom: 30px; 
    /* letter-spacing: 1px; */
    margin-left: 30px;
}



/* still need to set max width and min width like neenkin */
.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    outline: none;
    resize: none;
    border-radius: 4px;
    border: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

/* style of the submit button */
form .inputBox button {
    padding: 15px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    margin: 20px auto 0;
    border-radius: 6px;
    border: 2px solid#fff;
    background: none;
}

form .inputBox button:hover {
    background: #4837ff;
    transition: all 0.3s ease;
}



/* Navigation bar */
/*class navbar doesn not appear to be in the video, his starts at a navbar container*/
.navbar {
    position: sticky; /*if encounter problems put position relative*/
    top: 0;
    z-index: 999;
}

/*its being aligned to top of contact rather thatn actual center fix this*/
.navbar__container {
    justify-content: space-between;
    align-items: center;
    background: #131313;
    padding: 0 3%;
}

.navbar__indexcontainer{
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: 0 3%;
}

.navbar__menu {
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.navbar__menu a{
    text-decoration: none;
    
}

.flex{
    display: flex;
    gap: var(--gap, 1rem);
}


.navbar__logo{     
   
    /*display flex and align items not working if it does padding top will be not needed*/
    margin: 0 auto;
    cursor: pointer;
    width: 70px;
    padding-top: 5px; 
    
    /*the 3 lines below are currently not working (doing nothing).
    align-items: center;
    justify-content: center;
    object-position: center;
    */
}

/*use this class only to style the font/text*/
.navbar__links {
    color:#fff;
    font-size: 1.2em; 
}

/*use this class only to style the font/text*/
.navbar__shop {
    color:#fff;
    font-size: 1.2em; 
}


/*underline active link YT: https://youtu.be/JkuiKeNS2mg just need to make sure i have the class in my activePage.js called "active"*/
a:is(:link, :active, :visited).active {
    /*hopefully adding the webkit prefix above the other line of code makes underline show in safari*/
    -webkit-text-decoration: underline #4837ff 0.15rem;
    
            text-decoration: underline #4837ff 0.15rem;
}

/*making the text underline active link in a different way so all browsers support it
a:is(:link, :active, :visited).active { 
    content: '';  
    background-color: #4837ff;
    height: 0.15rem;
    width: 100%;
    bottom: 0.15rem;
    position: absolute;
    left: 0;
}
*/
/*
.active {
    color: #4837ff;
}    
*/

/* targeting the class of current that is inside the class of nav */
.navbar__menu .current {
    background-color: #4837ff;
}

/* The button is just for the Contact link */
.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    padding: 0;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    font-size: 1.2em;
    outline: none;
    border: 2px solid#fff;
    border-radius: 6px;
    color: #fff;
}

.button:hover {
    background: #4837ff;
    transition: all 0.3s ease;
}

/* .navbar__links:hover {} */



/* Entering and styling all the subclasses ".navbar__..." of the nav class="navbar" */
/* when width of window hits 960px actually lets put 55em for tablet mode the following classes are triggered */
@media screen and (max-width: 55em) {
    /*dont need this in here even. It currently does nothing
    .navbar__container {
        /*
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        /*
        max-width: 1300px;
        padding: 0;
        margin: 0;
    }

    /* navbar hamburger drops downwards to reveal the links */
    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
     
        width: 100%;
        /*position: absolute; used to have this*/
        position: fixed;
        top: -100vh;
        opacity: 1;
        transition: all 0.5s ease;
        height: 100vh;
        /*height: 32.25rem;*/
        font-size: 1.4em;
        z-index: -1;
        background: #131313;
        padding-top: 0; 
        padding-bottom: 0;
    }
    /* guy says this is the java script that triggers the drop down. Try to prevent 3% margin and drop down zindex problem due to setting position absolute*/
    .navbar__menu.active {
        /* delete the background color line of code */
        background: #131313;
        
        top: 0;
        padding-top: 20%; 
        padding-bottom: 30%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
        height: 100vh;
        /*height: 32.25rem;*/
        font-size: 1.4em;
        
        /*display:table;*/
        /*not working for go vertically in center cant figure out why. if i dont put display table the objects flex across 100vh*/
        object-position: center;
    }

    /*make body of page unscrollable when mobile drop down is visible*/
    .lock-scroll {
        /*position: fixed;*/
        overflow-y: hidden;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
        margin-bottom: 0.5em;
    }

    .navbar__links {
        text-align: center;
        padding: 0.2em;
        width: 100%;
        display: table;
    }

    .navbar__shop {
        text-align: center;
        padding: 0.25rem;
        width: 100%;
        display: table;
    }

    .navbar__logo{     
        
        Padding: 5px auto;
        z-index: 9;
    }


    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 0;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    /* first bar opacity to zero the 2nd two bars of the 3 bar nav hamburger rotate 45 degrees into an X position after clicked */
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


    /*what to do for CONTACT when width of window hits 55em width for tablet mode*/
    .container{
        grid-template-columns: 1fr;
        /*remove below line if thing break in real use by others*/
        max-width: 25em;
    }

    /*see why background is not long enough to see send button. It is ONLY in tablet mode so only adjust the below
    I beleive I need the button to have paddingon the bottom possibly
    .contact {
        /*overflow: hidden;
    }
    */
}

/* Hero section CSS */
/* .main targets the "main" class here we do a grid of images*/

/*completely commented out prevously
.main {
    /* the paper texture I have in the image folder
    background-color: #666;
    background-blend-mode: soft-light;
    mix-blend-mode: overlay;
    background-image: url(images/Kyle_Paper_Dark.jpg);
    background-repeat: repeat;*/
    /*make gallery in center of the page with 2 rem padding top and bottom, 8% padding on left and right side
    place-items: center; 
}
*/

/* contains each box class in a responsive grid uncomment if below does not work*/
.main__container {
    
    display: grid;
    /* gap between columns */
    grid-gap: 1rem;
    /* calculate rows and columns based on space to not let boxes be smaller than 240px */
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    z-index: 1;
    /*fix this padding or margin so that spacing is even on top bottom and left and right.*/
    margin: 0 auto;
    padding: 3% 3%;
    /*place-content: center; */
}

/*trying out would stil be very nice to get to work.*
.main .main__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
}
*/

/*background plexus video*/
.back-video{
    /*position: fixed instead of absolute allows the bg video to move down to fit the screen as I scroll in tablet mode*/
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

.main h1 {
    font-size: 1.5em;
    font-weight:400;
    /*mix-blend-mode: color;*/
    padding-top: 0.75rem;
    padding-left: 7%;
    color: #fff;
    /*color: #0055FF;*/
    /*text-shadow: 0.025em, 0.025em, 0, white;*/
}
/*
.main h2 {
    font-size: 1.7em;
    font-weight: 500;
    padding-top: 0.75rem;
    padding-left: 7%;
    z-index: 1;
    color: transparent;
    /*text-shadow: 3px, 3px, 0, white;
    -webkit-text-stroke: 0.01em #fff;
    position: absolute;
    /*position: absolute; allows me to place an item exactly where i specify it thus letting me overlap 2 elements
}
*/
.box {
    margin: 0;
}

/*not used anymore. use for avif moving image
.box__link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ..makes this invisible until it is hovered 
.box__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    /* align-items: ; 
    justify-content: left;
    padding: 0.25rem;
    opacity:0;
    pointer-events: none;
    transition: opacity 0.2s;
    color: #fff;

    background: rgba(0, 0, 0, 0.4);
}

/* when the box link is hovered, show the box__inner 
.box__link:hover .box__inner {
    opacity: 1;
}
*/

/* video moving avifs

.video__container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*position: absolute;
    object-position: 50% 50%;
}
*/
/* when the box or video__container link is hovered, show iframe
.video__container img:hover {
    opacity: 0;
    transition: opacity 0.2s;
}


/* make iframe scale properly as i drag resize webpage*/
.video__main {
    max-width: 60%;
    display: block;
    margin: auto;
    /* margin-top: 100px;  */
}

.video__container {
    position: relative;
    padding-bottom: 56.25%;
    /* height: 0; */
}
.video__container iframe {
    /* theses settings say let video fit in the full size of the video__ container. */
    position: absolute;
    left: 0px;
    top: 0px; 
    right:0px;
    bottom: 0px;
    /* make the iframe video 100% of the size of video__container */
    height: 100%;
    width: 100%; 
    /* height: inherit;  */
}









